# OpenData511 Configuration
# Get token here - https://511.org/open-data/token
OPEN_DATA_511_API_KEY="<api-key>"
# Get desired agency id using your token from the following api response - https://api.511.org/transit/operators?api_key=<api-key>
OPEN_DATA_511_AGENCY_ID="<agency-id>"
# Comma-delimited list of stopcodes to fetch
OPEN_DATA_511_STOPCODES="<stopcode-0>,<stopcode-1>,<stopcode-2>"

# LED Matrix configuration
# Panel configuration - https://github.com/hzeller/rpi-rgb-led-matrix?tab=readme-ov-file#types-of-displays
LED_MATRIX_ROWS="<integer>"
LED_MATRIX_COLS="<integer>"
LED_MATRIX_CHAIN_LENGTH="<integer>"
LED_MATRIX_PARALLEL="<integer>"
# GPIO speed - https://github.com/hzeller/rpi-rgb-led-matrix?tab=readme-ov-file#gpio-speed
LED_MATRIX_GPIO_SLOWDOWN="<integer>"
# Hardware mappings - https://github.com/hzeller/rpi-rgb-led-matrix/blob/master/wiring.md#alternative-hardware-mappings
LED_MATRIX_HARDWARE_MAPPING="<hardware-mapping>"
# Brightness - https://github.com/hzeller/rpi-rgb-led-matrix?tab=readme-ov-file#misc-options
LED_MATRIX_MAX_BRIGHTNESS="<integer>"

# Refresh interval configuration
# API refresh interval - how often the API should make a request (recommended: 65)
REFRESH_API_INTERVAL_SECONDS="<integer>"
# Display refresh interval - how often the display should update what it displays (recommended: 5)
REFRESH_DISPLAY_INTERVAL_SECONDS="<integer>"
